<!--  error.ejs
 Ildaphonse Cornolius
 ID: 300699371
 comp229-f2020-midterm -->

 <!-- an error page if any error occurs -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
